{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WDCT CORNER</title>
    <meta
      name="description"
      content="Open the doors of an ephemeral gallery which exhibits digital arts, paintings, and illustrations of the creative aficionados and voyage down the art valley to experience the vibrant displays of art and design."
    />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="theme-color" content="#000" />
    <meta name="author" content="Codrops" />
    <link
      rel="shortcut icon"
      href="{% static 'img/aarohan.png' %}"
      type="image/x-icon"
    />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this demo in a modern browser that supports CSS Variables."
        );
    </script>
    
  <style>
    .fa-instagram{
      color: aqua;
      display: block;
      margin-top: 1.5rem;
      margin-left: 1rem;
      font-size: 2.5rem;
      cursor: pointer;
    }
  </style>
  </head>

  <body style="padding: 0" id="boody">
    
      <!-- Capture the press to go to full screen in small devices-->
      <div class="overlay" id="modal1">
        <div class="modal-card">
          <h1>Welcome To WDCT Corner</h1>
          <p>
            Creativity is an inept ability to manifest our imagination into
            something visible or tangible for the world to see. To give your
            artworks a life, this Aarohan '22, we bring to you WDCT Corner,
            sponsored by Storymirror.
          </p>
          <button onclick="callFull()">Click to Continue</button>
        </div>
      </div>

      <!-- Modals for small Devices -->
      <div class="modal" id="modal2">
        <button onclick="modaltoggle2()">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="modal-card">
          <img id="modal-img" src="" alt="" />
        </div>
      </div>

      <svg class="hidden">
        <symbol id="icon-arrow" viewBox="0 0 24 24">
          <title>arrow</title>
          <polygon
            points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "
          />
        </symbol>
        <symbol id="icon-drop" viewBox="0 0 24 24">
          <title>drop</title>
          <path
            d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"
          />
          <path
            d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"
          />
        </symbol>
        <symbol id="icon-longarrow" viewBox="0 0 54 24">
          <title>longarrow</title>
          <path
            d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z"
          />
        </symbol>
        <symbol id="icon-navarrow" viewBox="0 0 408 408">
          <title>navarrow</title>
          <polygon
            fill="#fff"
            fill-rule="nonzero"
            points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"
          ></polygon>
        </symbol>
      </svg>
      <main>
        <div class="frame">
          <header class="codrops-header">
            <h1 class="codrops-header__title">
              <a
                href="https://www.arhn.in/"
                style="text-decoration: none; color: inherit"
                ><img class="title_logo" src="{% static '/img/aarohan.png' %}" alt="cca"
              /></a>

              <a
                href="/"
                style="
                  text-decoration: none;
                  color: inherit;
                  font-family: 'Poppins', sans-serif;
                "
              >
                WDCT CORNER
              </a>
            </h1>
          </header>
        </div>

        <div class="slideshow" id="genuine_slide">
          <div class="slideshow__deco"></div>
        </div>

        <div class="content" id="genuine_content"></div>
      </main>


  </body>
    <script src="{% static 'js/renderimages.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/charming.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script>
      const modalElem2 = document.getElementById("modal2");
      var x = 1;
      function modaltoggle2(image_path) {
        document.getElementById("modal2").classList.toggle("show");
        document
          .getElementById("modal-img")
          .setAttribute("src", `${image_path}`);
      }
      function callFull() {
        document.getElementsByTagName("body")[0].requestFullscreen();
        document.getElementById("modal1").remove();
      }
    </script>
</html>
