{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WDCT Corner</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="https://use.typekit.net/skn8ash.css" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    {% comment %}
    <div id="three-container"></div>
    {% endcomment %}
    <section id="welcome-section">
      <h1 style="color: gray">
        WDCT Corner
        <a href="/gallery" class="entergallery">Enter Room</a>
      </h1>
    </section>
    <div id="gallery" class="gallery">
      <div class="col">
        <div class="image">
          <img src="{% static 'all_images/Retuja Chatterjee.png' %}" alt="" />
        </div>
        <div class="image">
          <img src="{% static 'all_images/Aditya Mohapatra6.jpg' %}" alt="" />
        </div>
        <div class="image">
          <img src="{% static 'all_images/Rishi Marodia6.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img src="{% static 'all_images/Aniket Kamble1.jpg' %}" alt="" />
        </div>
        <div class="image">
          <img src="{% static 'all_images/Avinash Y3.jpg' %}" alt="" />
        </div>
        <div class="image">
          <img src="{% static 'all_images/Shreya Maithani2.jpg' %}" alt="" />
        </div>
      </div>
      <div class="col">
        <div class="image">
          <img src="{% static 'all_images/Anushka Mandal1.jpg' %}" alt="" />
        </div>
        <div class="image">
          <img src="{% static 'all_images/Amit Kumar1.jpg' %}" alt="" />
        </div>
        <div class="image">
          <img src="{% static 'all_images/Riddhi Chowdhury4.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <!-- partial -->
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <!-- <script src="./script.js"></script> -->

    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/TextGeometry.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/FontUtils.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/pnltri.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/droid_sans_bold.typeface.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/bas.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
      window.onbeforeunload = function () {
        window.scrollTo(0, 0);
      };

      THREE.ShapeUtils.triangulateShape = (function () {
        var pnlTriangulator = new PNLTRI.Triangulator();
        return function triangulateShape(contour, holes) {
          return pnlTriangulator.triangulate_polygon([contour].concat(holes));
        };
      })();
    </script>
    <script src="{% static 'js/newscript.js' %}"></script>
    <script>
      document.onreadystatechange = function () {
        if (document.readyState !== "complete") {
          console.log("loaded");
          setTimeout(() => {
            loadend();
          }, 4000);
        } else {
          console.log("not loaded");
          setTimeout(() => {
            loadend();
          }, 4000);
        }
      };
      function loadend() {
        document.getElementsByTagName("body")[0].style.overflowY = "visible";
        document.getElementById("welcome-section").style.display = "flex";
      }
    </script>
  </body>
</html>
